/* css file */

/* full page */
body {
    
}

/* Navbar */
/* Hover effect op brand */
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    text-shadow: -1px 0px 2px black, 0 1px 0px 2px black, 1px 0px 2px black, 0 -1px 0px 2px black;
    -webkit-transition: text-shadow 0.5s ease-out; 
    -moz-transition: text-shadow 0.5s ease-out; 
    -o-transition: text-shadow 0.5s ease-out; 
} 

/*Dropdown 100% width*/
.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
}  

